%script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
%script{ :src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"}
%script{ :src => "//cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js"}
%script{ :src => '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js' }


%script{ :src => javascript_path('app')}
%script{ :src => javascript_path('farkle-ai')}
