
.dice
  %a.button{ :data =>{ :value => 1 } }
    1

  %a.button{ :data =>{ :value => 2 } }
    2

  %a.button{ :data =>{ :value => 3 } }
    3

  %a.button{ :data =>{ :value => 4 } }
    4

  %a.button{ :data =>{ :value => 5 } }
    5

  %a.button{ :data =>{ :value => 6 } }
    6

%p.current-die


%a.button.continue
  Continue?

%h1.output
  %span.decision 


  %span.keep
    